# Python cache
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
venv/
env/
ENV/
.venv/

# Django files
*.log
db.sqlite3
media/

# Environment variables
.env

# Static files collected by Django
staticfiles/

# Python build files
build/
dist/
*.egg-info/

# IDE / Editor folders
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Coverage reports
.coverage
htmlcov/

# Pytest cache
.pytest_cache/

